__pycache__/
__pycache__
*.ipynb
.idea/
data/
*.docx
t.py
Data_dir/
phase1/
phase2/
phase3/


part3/
*.ipynb_checkpoints/
.pytest_cache/
frames_list.json
SFM_standAlone.py
TFL_Man.py.profile
Untitled.ipnb



